# local package
-e .

# external requirements
click>=7.1.2
Sphinx>=3.5.4
coverage>=5.5
awscli>=1.19.62
flake8>=3.9.1
python-dotenv>=0.5.1
pandas==1.2.4
matplotlib==3.2.2
seaborn==0.11.1
cffi==1.14.5
dbfread===2.0.7
geocoder==1.38.1
requests==2.25.1
folium==0.12.1
fastparquet==0.5.0
geopandas==0.9.0
PySUS==0.5.4
ftfy==6.0.1
scikit-learn==0.24.0
auto-sklearn==0.12.5
pipelineprofiler==0.1.17
xgboost==1.4.1
streamlit==0.83.0

